@use "./variables" as *;

//Media Query for tablet
@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

//Media Query for desktop
@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

//mixin for flex
@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
//add mixin for tag labels that can reuse in gallery image and photo details component
@mixin tag-container {
  padding: 1rem;
  @include flex(row);
  gap: 1rem;
}

@mixin tag-styles {
  color: $primary-text-color;
  border: 1px solid $border-color;
  cursor: default;

  &:hover {
    color: $primary-text-color;
    background-color: $border-color;
  }
}
