@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
.header {
  padding-top: 1rem;
  // margin-bottom: 2rem;
  &__nav {
    padding: 1rem;
    @include flex(row, space-between, center);
    padding-bottom: 1.5rem;
  }
}

