@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
.gallery {
  padding: 1rem;
  @include tablet {
    @include flex(row, space-between);
    gap: 1rem;
    flex-wrap: wrap;
  }
  // &__link{
  //   max-width: 100%;
  //   @include tablet{
  //     max-width: 48.5%;
  //   }
  //   @include desktop{
  //     max-width: 32%;
  //   }
  // }
  // &__link--filtered{
  //   @include desktop {
  //     max-width: 48.5%;
  //   }
  // }
}
