@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin"as *;
.footer{
    padding: 1rem;
    @include tablet{
        padding-top: 2.5rem;
        @include flex(row, space-between);
        text-align: left;
        flex-wrap: wrap;
    }
    @include desktop{
        padding-top: 5rem;
    }
}